# http://patorjk.com/software/taag/#p=display&f=Banner3&t=Type%20Something%20
#Generacion de codigo uuid
#https://www.uuidgenerator.net/
homeassistant:
  name: CAMBIAR-NOMBRE-HOUSE            #A
  latitude: -0.3261465                  #A
  longitude: -78.5358938                #A
  unit_system: metric
  time_zone: "America/Guayaquil"
  packages:
    pack_1: !include_dir_merge_named ismart/config/
    pack_2: !include_dir_merge_named ismart/servicios/
    pack_3: !include_dir_merge_named ismart/integraciones/
    pack_4: !include_dir_merge_named ismart/principal/Zonas/Interior/Ubicacion/
    pack_5: !include_dir_merge_named ismart/principal/Zonas/Exterior/Ubicacion/



######## ########   #######  ##    ## ########    ######## ##    ## ########  
##       ##     ## ##     ## ###   ##    ##       ##       ###   ## ##     ## 
##       ##     ## ##     ## ####  ##    ##       ##       ####  ## ##     ## 
######   ########  ##     ## ## ## ##    ##       ######   ## ## ## ##     ## 
##       ##   ##   ##     ## ##  ####    ##       ##       ##  #### ##     ## 
##       ##    ##  ##     ## ##   ###    ##       ##       ##   ### ##     ## 
##       ##     ##  #######  ##    ##    ##       ######## ##    ## ########  


frontend:
  development_repo: /share/frontend
  themes: !include_dir_merge_named themes
  

   ###    ##     ## ########  #######  ##     ##    ###    ######## #### ########    ###     ######  ####  #######  ##    ## ########  ######  
  ## ##   ##     ##    ##    ##     ## ###   ###   ## ##      ##     ##       ##    ## ##   ##    ##  ##  ##     ## ###   ## ##       ##    ## 
 ##   ##  ##     ##    ##    ##     ## #### ####  ##   ##     ##     ##      ##    ##   ##  ##        ##  ##     ## ####  ## ##       ##       
##     ## ##     ##    ##    ##     ## ## ### ## ##     ##    ##     ##     ##    ##     ## ##        ##  ##     ## ## ## ## ######    ######  
######### ##     ##    ##    ##     ## ##     ## #########    ##     ##    ##     ######### ##        ##  ##     ## ##  #### ##             ## 
##     ## ##     ##    ##    ##     ## ##     ## ##     ##    ##     ##   ##      ##     ## ##    ##  ##  ##     ## ##   ### ##       ##    ## 
##     ##  #######     ##     #######  ##     ## ##     ##    ##    #### ######## ##     ##  ######  ####  #######  ##    ## ########  ######  


#Cada automatización debe estar en un archivo
automation generales: !include_dir_list ismart/automatizaciones/generales/
automation principal: !include_dir_list /ismart/principal/
automation ui: !include automations.yaml 


########  ##          ###    ##    ##  #######     ########  ########  #### ##    ##  ######  #### ########     ###    ##       
##     ## ##         ## ##   ###   ## ##     ##    ##     ## ##     ##  ##  ###   ## ##    ##  ##  ##     ##   ## ##   ##       
##     ## ##        ##   ##  ####  ## ##     ##    ##     ## ##     ##  ##  ####  ## ##        ##  ##     ##  ##   ##  ##       
########  ##       ##     ## ## ## ## ##     ##    ########  ########   ##  ## ## ## ##        ##  ########  ##     ## ##       
##        ##       ######### ##  #### ##     ##    ##        ##   ##    ##  ##  #### ##        ##  ##        ######### ##       
##        ##       ##     ## ##   ### ##     ##    ##        ##    ##   ##  ##   ### ##    ##  ##  ##        ##     ## ##       
##        ######## ##     ## ##    ##  #######     ##        ##     ## #### ##    ##  ######  #### ##        ##     ## ######## 


lovelace:
  mode: storage
  dashboards:
    lovelace-yaml-optimized:
      mode: yaml
      title: FloorPlan
      icon: mdi:home
      show_in_sidebar: true
      filename: www/ismart/planos/plano-main.yaml 
 


########     ###     ######  ##     ## ########   #######     ###    ########  ########     ##     ## #### ##    ## #### ##     ##    ###    ##       ####  ######  ########    ###    
##     ##   ## ##   ##    ## ##     ## ##     ## ##     ##   ## ##   ##     ## ##     ##    ###   ###  ##  ###   ##  ##  ###   ###   ## ##   ##        ##  ##    ##    ##      ## ##   
##     ##  ##   ##  ##       ##     ## ##     ## ##     ##  ##   ##  ##     ## ##     ##    #### ####  ##  ####  ##  ##  #### ####  ##   ##  ##        ##  ##          ##     ##   ##  
##     ## ##     ##  ######  ######### ########  ##     ## ##     ## ########  ##     ##    ## ### ##  ##  ## ## ##  ##  ## ### ## ##     ## ##        ##   ######     ##    ##     ## 
##     ## #########       ## ##     ## ##     ## ##     ## ######### ##   ##   ##     ##    ##     ##  ##  ##  ####  ##  ##     ## ######### ##        ##        ##    ##    ######### 
##     ## ##     ## ##    ## ##     ## ##     ## ##     ## ##     ## ##    ##  ##     ##    ##     ##  ##  ##   ###  ##  ##     ## ##     ## ##        ##  ##    ##    ##    ##     ## 
########  ##     ##  ######  ##     ## ########   #######  ##     ## ##     ## ########     ##     ## #### ##    ## #### ##     ## ##     ## ######## ####  ######     ##    ##     ## 

# Se esta utilizando https://ui-lovelace-minimalist.github.io/UI/setup/configuration/#yaml-mode
# la ruta donde se deben agregar las view es en

#panel_custom: !include ismart/panels_customs/server_control_panel_custom.yaml


# http://patorjk.com/software/taag/#p=display&f=Banner3&t=Type%20Something%20
# Para la configuración del acceso desde 
#una direccion publica
#y exista un error de Received X-Forwarded-For header from untrusted prox
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24
  ip_ban_enabled: true
  login_attempts_threshold: 5
  



 ######   #######  ##    ## ######## ####  ######       ######   ######## ##    ## ######## ########     ###    ##       ########  ######  
##    ## ##     ## ###   ## ##        ##  ##    ##     ##    ##  ##       ###   ## ##       ##     ##   ## ##   ##       ##       ##    ## 
##       ##     ## ####  ## ##        ##  ##           ##        ##       ####  ## ##       ##     ##  ##   ##  ##       ##       ##       
##       ##     ## ## ## ## ######    ##  ##   ####    ##   #### ######   ## ## ## ######   ########  ##     ## ##       ######    ######  
##       ##     ## ##  #### ##        ##  ##    ##     ##    ##  ##       ##  #### ##       ##   ##   ######### ##       ##             ## 
##    ## ##     ## ##   ### ##        ##  ##    ##     ##    ##  ##       ##   ### ##       ##    ##  ##     ## ##       ##       ##    ## 
 ######   #######  ##    ## ##       ####  ######       ######   ######## ##    ## ######## ##     ## ##     ## ######## ########  ######  


# Loads default set of integrations. Do not remove.
default_config:

# Text to speech
tts:
  - platform: google_translate


script: !include scripts.yaml
scene: !include scenes.yaml


